<div class="page_account-connect-line" data-page_border>
    <div class="container">
        <div class="line-image text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="201.356" height="188.456" viewBox="0 0 201.356 188.456">
                <g data-name="Group 1023" transform="translate(7896.802 5362.568)">
                    <path data-name="Path 134" d="M260.218,295.194c55.6,0,100.679,36.094,100.679,80.618,0,15.552-5.5,30.072-15.031,42.387A20.736,20.736,0,0,1,344,420.53l-.059.064a87.209,87.209,0,0,1-10.949,10.923c-27.841,25.734-73.667,56.372-79.716,51.645-5.258-4.109,8.66-24.205-7.4-27.55-1.12-.129-2.237-.267-3.345-.424l-.021,0v0c-47.161-6.7-82.974-39.687-82.974-79.374C159.54,331.288,204.615,295.194,260.218,295.194Z" transform="translate(-8056.343 -5657.762)" fill="#3ace01"/>
                    <path data-name="Path 135" d="M215.744,422.951h20.305A5.266,5.266,0,0,0,241.3,417.7v-.438a5.266,5.266,0,0,0-5.251-5.251H221.432V378.755a5.265,5.265,0,0,0-5.251-5.249h-.438a5.265,5.265,0,0,0-5.251,5.249V417.7a5.266,5.266,0,0,0,5.251,5.252Zm125.821-24.41V398.1a5.266,5.266,0,0,0-5.251-5.251H321.7v-8.314h14.616a5.266,5.266,0,0,0,5.251-5.251v-.438a5.265,5.265,0,0,0-5.251-5.251H316.008a5.265,5.265,0,0,0-5.25,5.251v38.943a5.266,5.266,0,0,0,5.25,5.251h20.305a5.266,5.266,0,0,0,5.251-5.251v-.438a5.265,5.265,0,0,0-5.251-5.251H321.7V403.79h14.616a5.264,5.264,0,0,0,5.251-5.249Zm-39.048,22.845,0,0a5.243,5.243,0,0,0,1.518-3.683V378.756a5.266,5.266,0,0,0-5.252-5.25h-.437a5.266,5.266,0,0,0-5.251,5.25v22.861l-18.979-25.456a5.259,5.259,0,0,0-4.559-2.655h-.438a5.266,5.266,0,0,0-5.251,5.25V417.7a5.266,5.266,0,0,0,5.251,5.251h.438a5.266,5.266,0,0,0,5.251-5.251V394.412l19.116,26.108a5.331,5.331,0,0,0,.384.527h0a4.418,4.418,0,0,0,2.044,1.507,5.206,5.206,0,0,0,1.993.4h.438a5.2,5.2,0,0,0,2.453-.614,3.7,3.7,0,0,0,1.28-.952Zm-51.728,1.565h.438a5.266,5.266,0,0,0,5.251-5.251V378.755a5.265,5.265,0,0,0-5.251-5.25h-.438a5.266,5.266,0,0,0-5.251,5.25V417.7A5.267,5.267,0,0,0,250.788,422.951Z" transform="translate(-8070.284 -5679.188)" fill="#fff"/>
                </g>
            </svg>
        </div>
        <div class="section-header text-center">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="rte">
            {{ page.content }}
        </div>
        
        <div class="form-actions group-buttons d-flex justify-content-end form__actions-sticky">
            <button type="button" class="btn btn-line" data-action="line-login">
                {% include 'icon-line' %}
                <span class="display-dk">{{ 'customer.account_connect_line.connect_to_secondary_line' | t }}</span>
                <span class="display-mb">{{ 'customer.account_connect_line.connect_to_line_html' | t }}</span>
            </button>
            <a href="{{ pages['my-profile'].url }}" class="btn btn-cancel">{{ 'customer.account_connect_line.cancel' | t }}</a>
        </div>
        
    </div>
</div>
<script src="/apps/eai/js/line.js"></script>