{% if customer %}
    {% assign member_id = customer.metafields.data.personal.member_id %}
{% endif %}

{% unless hidden_title %}
  <div class="social__sharing-title">{{ 'general.social.share' | t }}</div>
{% endunless %}
<ul class="social-sharing">
    {% if settings.share_facebook %}
        <li>
            <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}?channel=DTC_sharelink{% if member_id != blank %}%26promo_code={{ member_id }}{% endif %}"
                class="btn--share share-facebook"
                title="{{ 'general.social.facebook' | t }}">
                {% include 'icon-facebook' %}
            </a>
        </li>
    {% endif %}

    {% if settings.share_line %}
        <li>
            <a target="_blank" href="http://line.me/R/msg/text/?{{ shop.url | append: share_permalink }}?channel=DTC_sharelink{% if member_id != blank %}%26promo_code={{ member_id }}{% endif %}"
                class="btn--share share-line"
                title="{{ 'general.social.line' | t }}">
                {% include 'icon-line' %}
            </a>
        </li>
    {% endif %}

    {% if settings.share_twitter %}
    <li>
        <a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}?channel=DTC_sharelink{% if member_id != blank %}%26promo_code={{ member_id }}{% endif %}"
            class="btn--share share-twitter"
            title="{{ 'general.social.twitter' | t }}">
            {% include 'icon-twitter' %}
        </a>
    </li>
    {% endif %}
    {% if customer %}
    <li>
        <a href="#" class="btn--share btn__link-share" data-id="{{ forloop.index }}">
            {% include 'icon-share-link' %}
        </a>
    </li>
    {% endif %}
</ul>
