<div class="breadcrumb__wrap">
    <div class="container">
        <nav class="breadcrumb nav--breadcrumb" role="navigation" aria-label="breadcrumbs" data-json=''>
            <a href="{{ routes.root_url }}" title="Home">{{ 'general.breadcrumb.home' | t }}</a>
            {% if template contains 'page' %}
                <span class="dividers">&rsaquo;</span>
                <span>{{ page.title }}</span>
            {% elsif template contains 'product' %}
                {% if collection.url %}
                    <span class="dividers">&rsaquo;</span>
                    {{ collection.title | link_to: collection.url }}
                {% endif %}
                <span class="dividers">&rsaquo;</span>
                <span>{{ product.title }}</span>
            {% elsif template contains 'collection' and collection.handle %}
                <span class="dividers">&rsaquo;</span>
                {% if current_tags %}
                    {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                    {{ collection.title | link_to: url }}
                    <span class="dividers">&rsaquo;</span>
                    <span>{{ current_tags | join: " + " }}</span>
                {% else %}
                    <span>{{ collection.title }}</span>
                {% endif %}
            {% elsif template == 'blog' %}
                <span class="dividers">&rsaquo;</span>
                {% if current_tags %}
                    {{ blog.title | link_to: blog.url }}
                    <span class="dividers">&rsaquo;</span>
                    {%- assign cat_tags = current_tags.first | remove_first: "#category_" -%}
                    <span data-breadcrumb_blog_tag>{{ cat_tags }}</span>
                {% else %}
                    <span>{{ blog.title }}</span>
                {% endif %}
                {% elsif template == 'article' %}
                <span class="dividers">&rsaquo;</span>
                {{ blog.title | link_to: blog.url }}
                <span class="dividers">&rsaquo;</span>
                <span>{{ article.title }}</span>
            {% else %}
                <span class="dividers">&rsaquo;</span>
                <span>
                    {% assign handle = "cake" %}
                    {%- case page_title -%}
                        {%- when 'Addresses' -%}
                            {{ 'general.breadcrumb.address_book' | t }}
                        {%- when 'Account' -%}
                            {{ 'general.breadcrumb.my_account' | t }}
                        {%- else -%}
                            {{ page_title }}
                    {%- endcase -%}
                </span>
            {% endif %}
        </nav>
    </div>
</div>

<script type="text/javascript">
    $(function (){
        let mod = {};

        /**
         * Init elements
         */
        mod.initElements = function () {
            mod.navBreadcrumb    = $('.nav--breadcrumb');
        }
        /**
         * Initialization
         */
        mod.init = function (){
            mod.initElements();
            mod.renderBreadcrumb();
        }

        /**
         * Render Start in Breadcrumb
         */
        mod.renderBreadcrumb= function (){
            mod.renderDataBreadcrumb(window.breadcrumbJson);
        }

        /**
         * Render Data in Breadcrumb
         */
        mod.renderDataBreadcrumb= function (data){
            let dataBread    = "";

            if($.trim(data).length && data.length > 0){
                mod.navBreadcrumb.html('<span>Loading...</span>');
                data.forEach(function (breadcrumb){
                    if($.trim(breadcrumb.url).length) {
                        dataBread += `<a href="${breadcrumb.url}" title="${breadcrumb.name}">${breadcrumb.name}</a>`;
                        dataBread += `<span class="dividers">›</span>`;
                    }else{
                        dataBread += `<span>${breadcrumb.name}</span>`;
                    }

                })
                mod.navBreadcrumb.html(dataBread);
            }
        }
        return mod.init();
    })
</script>
