<div class="megamenu__image text-center">
  {% if block.settings.image_title != blank %}
    <h4>{{ block.settings.image_title }}</h4>
  {% endif %}
  {% if block.settings.image_url != blank %}
    <a href="{{ block.settings.image_url }}">
      <img src="{{ image | img_url: 'medium'}}" alt="{{ block.settings.image_title }}" />
    </a>
  {% else %}
    <img src="{{ image | img_url: 'medium'}}" alt="{{ block.settings.image_title }}" />
  {% endif %}
  {% if block.settings.image_desc != blank %}
    <div class="megamenu__image-desc">{{ block.settings.image_desc }}</div>
  {% endif %}
</div>