{% assign contact = shop.metafields.data.contact_info %}
<div class="checkout_step" data-step="payment" style="display: none;">
    <div class="step__sections">
        <form id="payment_form">
            <div class="section">
                <div class="content__box">
                    <div class="review__block">
                        <div class="review__block--inner">
                            <div class="review__block--label">{{ 'general.checkout_review_block.contact' | t }}</div>
                            <div class="review__block--content contact__email">
                            </div>
                        </div>
                        <div class="review__block--link">
                            <a href="#" data-action="to:contact">{{ 'general.checkout_review_block.change' | t }}</a>
                        </div>
                    </div>
                    <div class="review__block">
                        <div class="review__block--inner">
                            <div class="review__block--label">{{ 'general.checkout_review_block.ship_to' | t }}</div>
                            <div class="review__block--content ship__to">
                            </div>
                        </div>
                        <div class="review__block--link">
                            <a href="#" data-action="to:contact">{{ 'general.checkout_review_block.change' | t }}</a>
                        </div>
                    </div>
                    <div class="review__block">
                        <div class="review__block--inner">
                            <div class="review__block--label">{{ 'general.checkout_review_block.shipping_method' | t }}</div>
                            <div class="review__block--content shipping__method"></div>
                        </div>
                        <div class="review__block--link">
                            <a href="#" data-action="to:shipping">{{ 'general.checkout_review_block.change' | t }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section__payment--method">
                <div class="section__header">
                    <h2 class="section__title">{{ 'general.checkout_contact.payment' | t }}</h2>
                </div>
                <div class="section__content">
                    <div class="content__box" data-scope="payment_method">
                    </div>
                </div>
                {% if customer %}
                <div class="checkout__note">
                    {{ 'general.checkout_note.remind_otp_code_receiver_html' | t}}
                </div>
                {% endif %}
            </div>
            <div class="section section__billing--address">
                <div class="section__header">
                    <h2 class="section__title">{{ 'general.checkout_contact.billing_address' | t }}</h2>
                </div>
                <div class="section__content">
                    {% if customer %}
                    <div class="billing__address content__box"></div>
                    <div class="checkout__note">
                        {{ 'general.checkout_note.contact_change_billing_address_html' | t: contact_phone: contact.contact_phone, contact_line_id: contact.contact_line_id }}
                    </div>
                    {% else %}
                    <div class="billing__address content__box check__ni hidden"></div>
                    <div class="checkout__note check__ni hidden">
                        {{ 'general.checkout_note.contact_change_billing_address_html' | t: contact_phone: contact.contact_phone, contact_line_id: contact.contact_line_id }}
                    </div>
                    <div class="content__box" id="set-billing_address">
                        <div class="radio__checkbox-item">
                            <div class="form-check">
                                <input checked="checked" class="form-check-input"
                                       id="default_billing"
                                       name="billing_address"
                                       type="radio">
                                <label class="form-check-label" for="default_billing">{{ 'general.checkout_form_label.same_shipping_address' | t }}</label>
                            </div>
                        </div>
                        <div class="radio__checkbox-item">
                            <div class="form-check">
                                <input class="form-check-input" id="new_billing"
                                       name="billing_address"
                                       type="radio">
                                <label class="form-check-label" for="new_billing">{{ 'general.checkout_form_label.different_billing_address' | t }}</label>
                            </div>
                        </div>
                        <div class="different__address" id="different__address">
                            <div class="billing_info_form" id="billing_info_form" data-form="address">
                                <div class="fieldset" id="billing_address">
                                    <div class="field field__half">
                                        <div class="field__input--wrapper validate-container">
                                            <label for="first_name1">{{ 'general.checkout_form_label.first_name' | t }}</label>
                                            <input class="input__text b_first_name"
                                                   id="first_name1"
                                                   name="first_name"
                                                   type="text">
                                        </div>
                                        <div class="field__input--wrapper validate-container">
                                            <label for="last_name1">{{ 'general.checkout_form_label.last_name' | t }}</label>
                                            <input class="input__text b_last_name"
                                                   id="last_name1"
                                                   name="last_name" type="text">
                                        </div>
                                    </div>
                                    <div class="field field__half">
                                        <div class="field__input--wrapper validate-container">
                                            <label for="billing__address">{{ 'general.checkout_form_label.address' | t }}</label>
                                            <input class="input__text b_address1"
                                                   name="address1"
                                                   id="billing__address" type="text">
                                        </div>
                                        <div class="field__select--wrapper billing_post_code_container validate-container">
                                        </div>
                                    </div>
                                    <div class="field field__half">
                                        <div class="field__select--wrapper billing_state_container validate-container">
                                        </div>
                                        <div class="field__select--wrapper billing_city_container validate-container">
                                        </div>
                                    </div>
                                    <div class="field field__half">
                                        <div class="field__input--wrapper validate-container">
                                            <label for="billing_phone">{{ 'general.checkout_form_label.mobile_number' | t }}</label>
                                            <input id="billing_phone" class="input__text phone" name="phone" type="text" pattern="[0-9\-]*" maxlength="10" required>
                                        </div>
                                        <div class="field__input--wrapper validate-container">
                                            <label for="country">{{ 'general.checkout_form_label.country' | t }}</label>
                                            <input class="input__text" name="{{ 'general.checkout_form_label.country_name' | t}}" value="Thailand" type="text" required readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% unless customer %}
            <div class="fieldset">
                <div class="field tax__id">
                    <div class="national__id-wrapper payment__step">
                        <label for="#">{{ 'general.checkout_form_label.national_id' | t }}</label>
                        <input class="input__text" disabled placeholder="" type="text" name="tax_id" value="">
                    </div>
                </div>
            </div>
            <div class="confirm___checkbox">
                <div class="checkbox__wrapper form-check d-flex validate-container">
                    <input class="input__checkbox" id="check_box_1" style="margin-top: 5px;"
                           type="checkbox" name="check_box_policy_1" hidden>
                    <label class="checkbox__label form-check-label label__policy" for="check_box_1">
                        {{ 'general.checkout_condition.condition11_html' | t: contact_phone: contact.contact_phone, contact_email: contact.contact_email }}
                        {{ 'general.checkout_condition.condition12_html' | t: contact_phone: contact.contact_phone, contact_email: contact.contact_email }}
                        {{ 'general.checkout_condition.condition13_html' | t: contact_phone: contact.contact_phone, contact_email: contact.contact_email }}
                        {{ 'general.checkout_condition.condition14_html' | t: contact_phone: contact.contact_phone, contact_email: contact.contact_email }}
                        {{ 'general.checkout_condition.condition15_html' | t: contact_phone: contact.contact_phone, contact_email: contact.contact_email }}
                    </label>
                </div>
                <div class="checkbox__wrapper form-check d-flex validate-container">
                    <input class="input__checkbox" id="check_box_policy_2"
                           style="margin-top: 5px;"
                           type="checkbox" name="check_box_policy_2" hidden>
                    <label class="checkbox__label form-check-label label__policy" for="check_box_policy_2">
                        {{ 'general.checkout_condition.condition21_html' | t: contact_phone: contact.contact_phone, contact_email: contact.contact_email }}
                        {{ 'general.checkout_condition.condition22_html' | t: contact_phone: contact.contact_phone, contact_email: contact.contact_email }}
                        {{ 'general.checkout_condition.condition23_html' | t: contact_phone: contact.contact_phone, contact_email: contact.contact_email }}
                    </label>
                </div>
            </div>
            {% endunless %}
        </form>
    </div>
    <div class="step__footer d-flex justify-content-between align-items-center">
        <a class="button__back-step" href="#" data-action="to:contact" data-navigate="prev">{% render 'icon-arrow-left' %}
            <span>{{ 'general.checkout_step_button.return_info_html' | t }}</span></a>
        <button class="btn checkout__lasted" data-action="place-order">{{ 'general.checkout_step_button.confirm_to_payment' | t }}</button>
    </div>
</div>
<script type="text/html" id="payment-otp-modal">
    <div class="page__enrollment page__enrollment-otp">
        <h3 class="modal__title">{{ 'general.checkout_popup.otp_payment.title_modal' | t }}</h3>
        <p class="modal__description">{{ 'general.checkout_popup.otp_payment.description_html' | t }}<strong class="otp-phone"><%= data.phone %></strong></p>
        <div class="rte">
            <div class="form-vertical">
                <form action="#" method="POST"
                      id="form-otp">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <p class="text-dark otp-code__label">{{ 'general.checkout_popup.otp_payment.otp_code' | t }}</p>
                            <strong style="display: none;"><p class="to-phone-otp"><%= data.phone %></p></strong>
                            <div class="form-group form__group-otp">
                                <input class="combine" type="number" id="digit-1" required name="digit_1" data-role="otp-digit"
                                       data-next="digit-2" autofocus>
                                <input class="combine" type="number" id="digit-2" required name="digit_2" data-role="otp-digit"
                                       data-next="digit-3" data-previous="digit-1">
                                <input class="combine" type="number" id="digit-3" required name="digit_3" data-role="otp-digit"
                                       data-next="digit-4" data-previous="digit-2">
                                <input class="combine" type="number" id="digit-4" required name="digit_4" data-role="otp-digit"
                                       data-next="digit-5" data-previous="digit-3">
                                <input class="combine" type="number" id="digit-5" required name="digit_5" data-role="otp-digit"
                                       data-next="digit-6" data-previous="digit-4">
                                <input class="combine" type="number" id="digit-6" required name="digit_6" data-role="otp-digit"
                                       data-previous="digit-5">
                            </div>
                            <div id="notify_message"></div>
                            <div class="text-secondary">{{ 'general.checkout_popup.otp_payment.otp_time_html' | t }}</div>
                            <div class="text-dark otp__re-send">{{ 'general.checkout_popup.otp_payment.otp_resend_html' | t }}
                                <p id="notify_resend" class="text-success"></p>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="otp" value="">
                    <input type="hidden" name="phone" value="<%= data.phone %>">
                    <input type="hidden" name="card" value="<%= data.card_id %>" data-role="otp-card-id">
                    <input type="hidden" name="cart" value="<%= data.cart %>" data-role="otp-cart">

                    <div class="form-actions form__actions-otp group-button">
                        <button id="otp-submit" type="submit" class="btn btn-primary" disabled>
                            {{ 'general.checkout_popup.otp_payment.otp_button' | t }}
                            <div class="loader" style="display: none;"></div>
                        </button>
                    </div>

                    <div class="form-footer">
                        <div id="notify" class="checkout-notify__modal smart_modal smart_modal-medium notify"
                             style="display: none;">
                            <div class="modal-center">
                                <div class="modal-content">
                                    <span class="close drawer__close drawer__close-large" title="{{ 'general.tooltip.close_popup' | t }}"></span>
                                    <div class="notify__modal">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="138.892" height="138.892" viewBox="0 0 138.892 138.892">
                                            <g data-name="Group 1069" transform="translate(-5422.5 1009.5)">
                                                <circle data-name="Ellipse 25" cx="69.446" cy="69.446" r="69.446" transform="translate(5422.5 -1009.5)" fill="#fd2729"/>
                                                <g data-name="Group 1039" transform="translate(5461.404 -971.31)">
                                                    <line data-name="Line 16" x2="61.27" y2="61.27" transform="translate(0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="8"/>
                                                    <line data-name="Line 17" x1="61.27" y2="61.27" transform="translate(0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="8"/>
                                                </g>
                                            </g>
                                        </svg>
                                        <h3 class="notify-title title-medium text-center"></h3>
                                        <p class="notify-text"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal__overlay overlay"></div>
                        </div>
                    </div>
                </form>
                {% assign contact = shop.metafields.data.contact_info %}
                <p class="modal__description-footer">{{ 'general.checkout_popup.otp_payment.otp_note_1_html' | t }}<br>
                    <a href="tel: {{ contact.contact_phone }}">{{ 'general.checkout_popup.otp_payment.otp_note_2_html' | t: contact_phone: contact.contact_phone, contact_line: contact.contact_line_id }}</a></p>
            </div>
        </div>
    </div>
</script>
